:root {
    --pyramidum-primary: #FF8A00;
    --pyramidum-secondary: #FF1F00;
    --pyramidum-dark: #21232B;
    --pyramidum-tertiary: #495057;
    --pyramidum-light-grey: #AAA;
    --pyramidum-gradient: linear-gradient(135deg, #FF8A00 40%, #FF1F00 110%);
    --pyramidum-base-font-family: 'Nunito';
    --pyramidum-special-font-family: 'Rubik Vinyl';
}

html, body, #app {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.btn-pyramidum,
.btn-pyramidum:hover,
.btn-pyramidum:active,
.btn-pyramidum:focus-visible {
    background: var(--pyramidum-gradient);
    color: #FFFFFF !important;
    font-family: var(--pyramidum-base-font-family), sans-serif;
    outline: none;
}

@media (min-width: 576px) {
    :root {
    }
}

@media (min-width: 768px) {
    :root {
    }
}

@media (min-width: 992px) {
    :root {
    }
}

@media (min-width: 1200px) {
    :root {
    }
}
